.container{
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    position: sticky;
}
.min-height{
    min-height: 75%;
}
.start{
    justify-content: flex-start;
}
.column{
    flex-direction: column;
    justify-content: flex-start;
}