    .NewProjects_container {
        width: 450px;
        margin: 0 auto;
        padding: 3em;
    }

    .NewProjects_container h1{
    margin: 0.5em;
    }

    .NewProjects_container p{
    color: #2b9eb3;
    }
